<?xml version="1.0" encoding="UTF-8"?>
<!-- log4j2 自身的日志级别 -->
<Configuration status="WARN">
	<properties>
		<property name="LOG_HOME">Log/</property>
		<property name="LOG_FILE">crawler</property>
	</properties>
	<Appenders>
		<!-- 定义日志输出地 -->
		<Console name="Console" target="SYSTEM_OUT">
			<PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} %-5level %logger{36} - %msg%n" />
		</Console>
		<RollingRandomAccessFile name="LogFile"
			fileName="${LOG_HOME}/${LOG_FILE}.log"
			filePattern="${LOG_HOME}/$${date:yyyy-MM}/${LOG_FILE}-%d{yyyy-MM-dd}-%i.log">
			<PatternLayout
				pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} %-5level %logger{36} - %msg%n" />
			<Policies>
				<TimeBasedTriggeringPolicy interval="1" />
				<SizeBasedTriggeringPolicy size="20 MB" />
			</Policies>
			<DefaultRolloverStrategy max="20" />
		</RollingRandomAccessFile>
	</Appenders>
	<Loggers>
		<Root level="all">
			<AppenderRef ref="Console" level="info" />
			<AppenderRef ref="LogFile" level="info" />
		</Root>
	</Loggers>
</Configuration>